

h1{text-transform: uppercase; text-align: center;}
div{text-align: left;}
img{
	float: right;
	width:15%;
	 border-radius: 15px;
    padding: 20px; 
    width: 200px;
    height: 150px;
}

h2{text-decoration: underline;}

body {
    background-color: LightGray;
   padding-top: 50px;
    padding-right:300px;
    padding-bottom:10px;
    padding-left: 300px;
    border-radius:25px;
       
}
