header{text-align: center;}

div{text-align: center;}
div 

h2{text-decoration: underline;}

h1{text-transform: uppercase;}
body {
    background-color: LightGray;
   padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px
     
  
}
img {
    float: right;
}
img{
   position: relative;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 40s infinite;
}
@-webkit-keyframes mymove {
    from {left: 100px;}
    to {left: 200px;}
}
